body {
  margin: 50px 0;
}

.capitalize {
  text-transform: capitalize;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

input {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 5px 3px;
}
