

.containerAtas {
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

.containerKiri {
  width: 800px;
  height: 250px;
  margin: 2px;
  margin-left: 180px;
  display: flex;
  justify-content: center;
}

.containerKanan {
  width: 600px;
  height: 250px;
  margin: 2px;
}

.isiContainerKanan {
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
}

.containerTengah {
  width: auto;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.tulisanTengah {
  text-align: center;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: black;
  line-height: 0.8;
}

.imgTengah {
  width: 200px;
  height: 200px;
  padding: 25px;
}

.imgThumbnail {
  width: 200px;
  height: 200px;
  padding: 25px;
  
}

.fontBig {
  font-size: 30px;
  font-weight: bold;
}  

.submit-button {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  transition-duration: 0.4s;
  width: 100%;
}
.submit-button:hover {
  background-color: rgb(89, 42, 165);
}

#material-picker-container h3{
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: center;
  
}

.card{
  background: white ;
  width: 200px;
  height: 200px;
  margin: 50px;
  border-radius: 20px;
}

.card:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.card-image {
  background-color: aqua;
  height: 200px;
  background-size: cover;
  border-radius: 20px;
}

.card h2 {
  width: 100%;
}
.kayu-jati {
  background-image: url(../assets/kayujati.jpg);
}

.kayu-mahoni {
  background-image: url(../assets/kayumahoni.jpg);
}

.kayu-bambu {
  background-image: url(../assets/kayubambu.jpg);
}