body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center
}

.center {
  text-align: center;
  width: 100%;
  justify-content: center
}

.logincontain {
  width: 100%;
  
  justify-content: center
}

.pilihfurnitur {
  width: 250px;
  height: 250px;
  margin-top: 35px;
  margin-right: 100px;
  cursor: pointer
}

.logo {
  width: 500px;
  height: 200px;
}

.full {
  width: 100%;
}

button {
  background-color: #0044ff;
  outline: none;
  color: #ebf4ff;
  cursor: pointer
}

h1 {
  font-family: 'Tangerine', cursive, bold;
  font-size: 100px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  font-family: 'El Messiri', narrow;
  font-size: 20px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 75px;
  font-family: 'El Messiri', narrow;
  font-size: 20px;
  margin-bottom: 0px;
}

h4 {
  margin-top: 35px;
  font-size: 25px;
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}