

.containerAtas {
  width: auto;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.containerKiri {
  width: 600px;
  height: 250px;
  /* background-color: red; */
  margin: 2px;
  display: flex;
  justify-content: center;
}

.containerKanan {
  width: 600px;
  height: 250px;
  /* background-color: olive; */
  margin: 2px;
}

.isiContainerKanan {
  display: flex;
  justify-content: space-evenly;
}

.containerTengah {
  width: auto;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}


.tulisanTengah {
  text-align: center;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: black;
  line-height: 0.8;
}

.imgTengah {
  width: 200px;
  height: 200px;
  padding: 25px;
}

.imgThumbnail {
  width: 200px;
  height: 200px;
  padding: 25px;
  
}


.fontBig {
  font-size: 30px;
  font-weight: bold;
}  



.button {
  cursor: pointer;
  border: 0px;
  
  
}

.button:hover {
  border: 5px solid lightgrey;
  
}
.button + .button {
  margin-left: 100px;
}

.content {
  background: white;
  width: 100%;
  padding: 1em;
  text-align: center;
  justify-content: center
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  color: black;
  line-height: 0.8;
  text-align: center;
}