

body {
background-color: white;
}

.tulisanJudul {
  text-align: center;
}

.containerAtas {
  width: auto;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.containerKiri {
  width: 600px;
  height: 250px;
  background-color: red;
  margin: 2px;
  display: flex;
  justify-content: center;
}



.containerKanan {
  width: 600px;
  height: 250px;
  background-color: olive;
  margin: 2px;
}

.isiContainerKanan {
  margin-top: 20px;
  margin-left: 40px;
}

.containerTengah {
  width: auto;

  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.ctrKiriT {
  width: 250px;
  height: 300px;
  background-color: blue;
  margin: 2px;
}

.ctrTengahT {
  width: 250px;
  height: 300px;
  background-color: yellowgreen;
  margin: 2px;
}

.ctrKananT {
  width: 250px;
  height: 300px;
  background-color: pink;
  margin: 2px;
}

.tulisanTengah {
  text-align: center;
}

.imgTengah {
  width: 200px;
  height: 200px;
  padding: 25px;
}

.imgThumbnail {
  width: 200px;
  height: 200px;
  padding: 25px;
  
}


.fontBig {
  font-size: 30px;
  font-weight: bold;
}  



.button {
  cursor: pointer;
  border: 0;
  
}

.button:hover {
  border: 5px solid black;
}
.button + .button {
  margin-left: 1em;
}

.content {
  background: white;
  width: 70%;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: black;
  line-height: 0.8;
}